{% extends 'portfolio/base.html' %}

{% block content %}

<div class="container py-3">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
<a href="/" class="d-flex align-items-center text-dark text-decoration-none"><span class="fs-4">Блог</span></a>
</div>
<p class="lead mb-4">Михаил написал {{ blog.count }} пост{{ blog.count|pluralize:",а" }}</p>
{% for item in blog %}

<div class="px-4 py-5 text-center">
<a href={% url 'miniBlog:detail' item.id %}><h3 class="display-5 fw-bold">{{ item.postName }}</h3></a>
<p class="lead mb-4">{{ item.publisTime|date:'M d Y' }}</p>
<p class="lead fw-normal">{{ item.description|safe|truncatechars:100 }}</p>
</div>

{% endfor %}
</div>

{% endblock %}